#!/usr/bin/make -f
# Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

# There used to be `source' and `diff' targets in this file, and many
# packages also had `changes' and `dist' targets.  These functions
# have been taken over by dpkg-source, dpkg-genchanges and
# dpkg-buildpackage in a package-independent way, and so these targets
# are obsolete.

package=mawk
# The version of the package (for example, `19.28').
version=1.3.3
# The Debian revision of the package (for example, `2').
debian=1

make_directory= install -d -o root -g root -m 755
install_binary= install -s -o root -g root -m 755
install_script= install    -o root -g root -m 755
install_files=  install    -o root -g root -m 644

CC = gcc
CFLAGS = -O2 -g -Wall
LDFLAGS =

build:
	$(checkdir)
	@echo "Building the binaries ..."
	./configure
	$(MAKE) CC="$(CC)" CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"
	touch build

clean:
	$(checkdir)
	@echo "Cleaning up after 'make build' ..."
	-rm -f build
	-$(MAKE) -i clean || $(MAKE) -f Makefile.in distclean
	-rm -f config.cache config.h config.log config.status Makefile man/index.db
	-rm -rf debian/tmp debian*~ debian/{substvars,files,files.new}

binary-indep:  checkroot build
	$(checkdir)
# There are no architecture-independent files to be uploaded
# generated by this package.  If there were any they would be
# made here.

binary-arch:	checkroot build
	$(checkdir)
	@echo "Making the binary package: $(package)-$(version)-$(debian).deb ..."
	rm -rf debian/tmp
	$(make_directory) debian/tmp/DEBIAN
	$(make_directory) debian/tmp/usr/bin
	$(make_directory) debian/tmp/usr/man/man1
	$(make_directory) debian/tmp/usr/doc/$(package)/examples
	$(install_script) debian/{prerm,postinst} debian/tmp/DEBIAN/
	$(install_binary) mawk debian/tmp/usr/bin/
	$(install_files) CHANGES debian/tmp/usr/doc/$(package)/changelog
	$(install_files) debian/changelog debian/tmp/usr/doc/$(package)/changelog.Debian
	$(install_files) man/mawk.1  debian/tmp/usr/man/man1/
	$(install_files) debian/copyright debian/tmp/usr/doc/$(package)/
	$(install_files) examples/* debian/tmp/usr/doc/$(package)/examples/
	gzip -9 debian/tmp/usr/{man/man1/mawk.1,doc/$(package)/{changelog,changelog.Debian,examples/*}}
	dpkg-shlibdeps mawk; dpkg-gencontrol
	chown -R root.root debian/tmp
	dpkg --build debian/tmp ..

# Below here is fairly generic really.

binary: binary-indep binary-arch

dist-full:
	dpkg-buildpackage -rsudo -uc -us -sa
	@echo "You may want to run \"debian/rules clean\" to clean up after the build"

dist-update:
	dpkg-buildpackage -rsudo -uc -us -sd
	@echo "You may want to run \"debian/rules clean\" to clean up after the build"

dist: dist-full

update: dist-update

checkroot:
	$(checkdir)
	test root = "`whoami`"

define checkdir
	test -f $(package).h -a -f debian/rules
endef

.PHONY: binary binary-indep binary-arch dist update clean checkroot
